// Paleta de colores
// Tabla de alumnos
$table-bg-color: #f2f2f2;
$cell-bg-color: #ffffff;
$cell-border-color: #dddddd;
$cell-padding: 10px;
// side nav
$sidebar-width: 200px;
$sidebar-bg-color: #333;
$sidebar-text-color: #fff;
$menu-item-padding: 15px;
// toolbar
$toolbar-height: 60px;
$toolbar-bg-color: #007bff;
$toolbar-text-color: #fff;
$menu-item-padding: 15px;