<h1>Tabla de alumnos divicion numero: 131514</h1>
<div class="table">
    <div class="row header">
        <div class="cell"></div>
        <div class="cell">Nombre</div>
        <div class="cell">Apellido</div>
        <div class="cell">Edad</div>
        <div class="cell">Género</div>
        <div class="cell">Grado</div>
    </div>
    <div class="row">
        <div class="cell">1</div>
        <div class="cell">Juan</div>
        <div class="cell">Pérez</div>
        <div class="cell">15</div>
        <div class="cell">Masculino</div>
        <div class="cell">10mo</div>
    </div>
    <div class="row">
        <div class="cell">2</div>
        <div class="cell">María</div>
        <div class="cell">González</div>
        <div class="cell">14</div>
        <div class="cell">Femenino</div>
        <div class="cell">9no</div>
    </div>
    <div class="row">
        <div class="cell">3</div>
        <div class="cell">Rodrigo</div>
        <div class="cell">Gimenez</div>
        <div class="cell">18</div>
        <div class="cell">Masculino</div>
        <div class="cell">9no</div>
    </div>
    <div class="row">
        <div class="cell">4</div>
        <div class="cell">Gustavo</div>
        <div class="cell">Ovejero</div>
        <div class="cell">15</div>
        <div class="cell">Masculino</div>
        <div class="cell">9no</div>
    </div>
    <div class="row">
        <div class="cell">5</div>
        <div class="cell">Laura</div>
        <div class="cell">González</div>
        <div class="cell">17</div>
        <div class="cell">Femenino</div>
        <div class="cell">9no</div>
    </div>
    <div class="row">
        <div class="cell">6</div>
        <div class="cell">Tadeo</div>
        <div class="cell">Hutson</div>
        <div class="cell">16</div>
        <div class="cell">masculino</div>
        <div class="cell">9no</div>
    </div>
    <div class="row">
        <div class="cell">7</div>
        <div class="cell">Martin</div>
        <div class="cell">Samuel</div>
        <div class="cell">19</div>
        <div class="cell">Masculino</div>
        <div class="cell">9no</div>
    </div>
    <div class="row">
        <div class="cell">8</div>
        <div class="cell">Nael</div>
        <div class="cell">Fernandez</div>
        <div class="cell">19</div>
        <div class="cell">Masculino</div>
        <div class="cell">9no</div>
    </div>
    <div class="row">
        <div class="cell">9</div>
        <div class="cell">Carolina</div>
        <div class="cell">Paes</div>
        <div class="cell">17</div>
        <div class="cell">Femenino</div>
        <div class="cell">6no</div>
    </div>
    <div class="row">
        <div class="cell">10</div>
        <div class="cell">Taiel</div>
        <div class="cell">Perez</div>
        <div class="cell">15</div>
        <div class="cell">Masculino</div>
        <div class="cell">9no</div>
    </div>
    <!-- Añadir más filas según sea necesario -->
</div>