<div class="sidebar">
    <div class="logo"><img src="../../assets/img/logo.webp" alt="logo"></div>
    <ul class="menu">
        <li> <a href="#"><i class="fa-solid fa-house"></i> Inicio</a></li>
        <li><a href="#"><i class="fa-solid fa-people-roof"></i>Aulas</a></li>
        <li><a href="#"><i class="fa-solid fa-chalkboard-user"></i>Profesores</a></li>
        <li><a href="#"><i class="fa-solid fa-graduation-cap"></i>Alumnos</a></li>
        <li><a href="#"><i class="fa-regular fa-comment"></i>Mensajes</a></li>
    </ul>
</div>
